checkpoints/
data/
manual_data/
weights/

.idea/
logs/
venv/
env/
.venv/
__pycache__/
.ipynb_checkpoints/

*.pth
*.pt
*.onnx

*.pyc
*.pyo
*.pyd
*.so

*.ipynb-meta

Thumbs.db
desktop.ini
.DS_Store

*.log
*.tmp
*.bak